.about {
    display: flex;
    flex-wrap: wrap;
}

.author {
    width: 45%;
}

.auth-details {
    justify-content: flex-start;
    padding: 15px;
}

@media (max-width: $mobile-breakpoint) {
    .author {
        width: $mobile-breakpoint;
        flex-wrap: wrap;
        justify-content: none;
    }
    .auth-img{
        max-width: 160px;
        img {height: 160px;}

    }
    .auth-details {
        width: 160px;
    }

}