.about {
    display: flex;
    max-width: $mobile-breakpoint;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.author {
    display: flex;
}

@media (max-width: $mobile-breakpoint) {
    .author {
        width: $mobile-breakpoint;
        flex-wrap: wrap;
        justify-content: none;
    }
    .auth-img{
        max-width: 180px;

    }
    .auth-details {
        background-color: red;
    }

}