.about {
    display: flex;
}

.author {
    display: flex;
}

@media (max-width: $mobile-breakpoint) {
    .author {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}