.contact-us{
    background-color: var(--form-bg);
    color: #fff;
    padding:30px; 
}
.contact-invite-form{
     width:60%;
     .gt-in-tch{
        font-size: rem(30px);
     }
     .to-gt-in-tch{
         font-size: rem(20px); 
     }
     
}
.contact-invite {
    background-color: var(--form-bg);
    color: #fff;
    margin-bottom: 20px;
}
.contact-form {
    background-color: var(--form-bg);
    color: #fff;
    
}

.contact-details{
   background-color: var(--form-bg);
   color: #fff;
   font-size: rem(20px); 

   img{
    width: 20px;
    height: 20px;
    }
}


@media (max-width: $mobile-breakpoint) {
    .contact-us {
        max-width:100%;
        justify-content:none;
        flex-wrap: wrap;
        padding-left:15px;
        padding-right:15px;
    }

    .contact-details{
        font-size: rem(17px);
    }   
    .contact-invite-form{
        width:100%;
        align-items:center;
            .gt-in-tch{
                font-size: rem(25px);
             }
            .to-gt-in-tch{
                font-size: rem(20px); 
            }

        .contact-details{
            font-size: rem(17px);
        }   
    }
    
}