.contact-us{
    border: 1px solid white;
    background-color: var(--form-bg);
    color: #fff; 
}
.contact-invite-form{
     border: 1px solid white;
     width:60%;
     
}
.contact-invite {
     border: 1px solid white;
    background-color: var(--form-bg);
    color: #fff;
    margin-bottom: 20px;
}
.contact-form {
    border: 1px solid white;
    background-color: var(--form-bg);
    color: #fff;
    
}

.contact-details{
     border: 1px solid white;
   background-color: var(--form-bg);
   color: #fff;

   img{
    width: 20px;
    height: 20px;
    }
}


@media (max-width: $mobile-breakpoint) {
    .contact-us {
        max-width:100%;
        justify-content:none;
        flex-wrap: wrap;

        
    }
    .contact-invite-form{
        width:100%;
        align-items:center;
    }
    .contact-invite {
        // max-width:100%;
    }

               
    .contact-form {
      
    }
}