.meme-editor {
padding:20px;  
    
}

.meme-txt {
    width:600;
}

.txtInputBtm{
    width: 100%;
    background-color: #fff;
}
.txtInputTop{
    width:100%;
    background-color: #fff;
}
.editor-text {
    max-width: 100%;
}

.tool-box {
    max-width: 100%;
}

.editors-box {
    border: 1px solid black;
    max-width: 40%;
  

    img {
        width: 30px;
        height: 30px;
    }
}

.canvas{
     border: 1px solid black;
    // width:35%;
  
}

.dwn-btn{
	  width: 90px;
	  height: 37px;
	  justify-content: flex-end;
      background: #2eb398;
      color: #e1e1e1;
}
.dwn-btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    color: #fff;
 }
.edtbtn {
    border: none;
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
