.meme-editor {
    display: none;
}

.meme-txt {
    width:600;
}

.editor-text {
    width: 100px;
}

.tool-box {
    width: 100px;
}

.editors-box {
    width: 300px;
    img {
        width: 80px;
        height: 80px;
    }
}