
/*----------  Playfair Font  ----------*/

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/playfair/PlayfairDisplay-Regular.ttf'); 
}


/*----------  Ubunto Font  ----------*/

@font-face {
  font-family: 'Ubunto';
  src: url('../assets/fonts/ubunto/Ubuntu-Light.ttf');
  font-weight: 400;
}

/*----------  Lato Font  ----------*/

@font-face {
  font-family: 'Lato-Regular';
  src: url('../assets/fonts/Lato2OFL/Lato-Regular.ttf'); 
}



/*----------  Maven pro Font  ----------*/

@font-face {
  font-family: 'MavenPro-Regular';
  src: url('../assets/fonts/mavenPro/MavenPro-Regular.ttf'); 
}

.header {
  font-size: rem(8px);
}

/*----------  Ubunto Font  ----------*/

@font-face {
    font-family: Terminus;
    src: url('../assets/fonts/TerminusTTFWindows-4.40.1.ttf');
}
@font-face {
    font-family: Terminus-Bold;
    src: url('../assets/fonts/TerminusTTFWindows-Bold-4.40.1.ttf');
}
@font-face {
    font-family: Terminus-Italic;
    src: url('../assets/fonts/TerminusTTFWindows-Italic-4.40.1.ttf');
}
@font-face {
    font-family: TerminusBI;
    src: url('../assets/fonts/TerminusTTFWindows-Bold Italic-4.40.1.ttf');
}