// ::-webkit-input-placeholder {
//   color: #626262;
//   font-size: rem(14px);
//   font-family: var(--primary-font);
// }

// .form-control {
//   border: none;
//   border-bottom: 1px solid #000;
//   background-color: transparent;
//   width: 100%;
//   padding: 0.5em 0.2em;
// }

// .form-group {
//   margin: 1em 0;
// }

.contact-form{
   background: #323232;
   border: 1px solid black;
}


form {
    background: #323232;
    border: 1px solid black;
    overflow: hidden; 
    max-width:580px;
    margin-left: 30px;
    font-size: rem(12px);
    font-family: var(--primary-font);
   

}

textarea{
	background:var(--form_enter_txt_bg) no-repeat scroll 16px 16px; 
    width: 580px;
    height: 150px;
  
    // background-clip: padding-box; 
    display:block;
    color:#fff;
    overflow:hidden;
    margin-bottom: 16px;
}

input {
    width: 580px;
    height: 38px;
       // background-clip: padding-box; 
    display:block;
    color:#fff;
    // padding-bottom: 16px;
     margin-bottom: 16px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
	  	background:var(--form_enter_txt_bg) no-repeat scroll 16px 16px; 
     margin-bottom: 16px;
}

input.email {
	  	background:var(--form_enter_txt_bg) no-repeat scroll 16px 20px;
    padding-bottom: 16px;
}

input.message {
	  	background:var(--form_enter_txt_bg)  no-repeat scroll 16px 16px;
    padding-bottom: 16px;
}

input:focus, textarea:focus { 
	  background-color:#454545;
	  overflow: hidden; 
}

.btn {
	  width: 90px;
	  height: 37px;
	  justify-content: flex-end;
    border: 1px solid #253737;
    background: #2eb398;
    color: #e1e1e1;
	  // border-radius: 4px;
    // padding: 10.5px 21px;
    // box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    // text-shadow: #333333 0 1px 0;
}

.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    color: #fff;
 }

.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    color: #fff;
   }
