.gallery {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}
 
.gallery-img {
    width: 160px;
    height: 160px;
    margin: 40px; 
}

@media (max-width: $mobile-breakpoint) {
  .gallery {
    max-width : $mobile-breakpoint;
    justify-content: flex-start;
  }

  .gallery-img {
    border: 1px solid red;
    max-width: 45%;
    margin: 0px
  }
  
  .gallery-img img {
    width : inherit;
  }
}