/*----------  Containers  ----------*/

body {
  background-color: #fff;
}

img {
    width: 160px;
    height: 160px;
}
.container {
  background-color: white;
  width: var(--container-width);
}
.main-display {
  background-color: #fff;
}
.about {
  background-color: var(--about-bg);
}
.auth-img {
    background-color: white;
}
.contact {
  background-color: blue;
}

.footer p {
  margin: 0px;
  color : #FFFFFF;
  font-size: 16px;
}

@media (max-width: $mobile-breakpoint) {
  .container {
    max-width: $mobile-breakpoint;
  }

}