/*----------  Containers  ----------*/

body {
  background-color: white;
}

.container {
  border: solid 1px black;
  background-color: white;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 1em;
}

.main-nav-bar {
  border: solid 1px black;
  background-color: pink;
}

.main-display {
  border: solid 1px black;
  background-color: yellow;
}

.gallery {
  border: solid 1px black;
}

.words-display {
  border: solid 1px black;
}

.about {
  background-color: green;
}

.author {
  border: solid 1px black;
} 

.contact {
  border: solid 1px black;
  background-color: red;
}

.footer {
  border: solid 1px black;
}