.main-nav-bar {
  --main-nav-height: em(63px);  
  height: var(--main-nav-height);
  width: 100%;
  background: var(--nav-bg);
}

.main-nav__item:hover {
  color: var(--nav-item-hover);
}

.main-nav__item {
  text-transform: uppercase;
  margin: 1em;
  color: var(--nav-bar-txtcolor);
  @include for-mobile-only {
    font-size: rem(10px);
  }
}

@media (max-width: $mobile-breakpoint) {
    .main-nav-bar {
      max-width:$mobile-breakpoint;    

    } 
    .main-nav__items {
      align-items: center;
      justify-content: space-around
    }
}
