.arrow-down {
  width: 0; 
  height: 0;
  --triang-sides: em(60px);
  border-left: var(--triang-sides) solid transparent;
  border-right: var(--triang-sides) solid transparent;  
  border-top: 35px solid var(--nav-bg);
  @include for-mobile-only {
    width: 0; 
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;  
    border-top: 20px solid var(--nav-bg);
  }  
}

.arrow-wrap {
  width: 45%;
}

.main-nav-bar {
  position:absolute;
  --main-nav-height: em(63px);  
  height: var(--main-nav-height);
  width: 100%;
  background: var(--nav-bg);
}

.main-nav__item:hover {
  color: var(--nav-item-hover);
}

.main-nav__item {
  text-transform: uppercase;
  margin: 1em;
  color: var(--nav-bar-txtcolor);
  @include for-mobile-only {
    font-size: rem(10px);
  }
}

@media (max-width: $mobile-breakpoint) {
    .main-nav-bar {
      max-width:$mobile-breakpoint;    

    } 
    .main-nav__items {
      align-items: center;
      justify-content: space-around
    }
}