.main-nav-bar {
  --main-nav-height: em(63px);  
  height: var(--main-nav-height);
  width: 100%;
  background: var(--nav_bg); 
}

}
.main-nav__item {
  text-transform: uppercase;
  font-size: rem-calc(7px);
  margin: 2em;
  color: var(--nav_bar_txtcolor);

}
.hovered-nav-item{
    color: var(--hover_nav_item: #2f907c) ;

}