// Media query per Galaxy S5 - screen width

$container-width: 1063px;
$mobile-breakpoint: 360px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Lato-Regular;
  --secondary-font: MavenPro-Regular;
  /* Colors */
  --main-color: black;
  --sections-bg: #f0f0f0;
  --nav_bg: #292929;
  --nav_bar_txtcolor: #fff;
  --about_bg: #2eb398;
  --form_enter_txt_bg: #454545;
  --form_bg: #323232;
  --btn_send_bg: #2eb398;
}