// Media query per Galaxy S5 - screen width

$container-width: 100%;
$mobile-breakpoint: 360px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Lato-Regular;
  --secondary-font: MavenPro-Regular;
  /* Colors */
  --main-color: black;
  --sections-bg: #f0f0f0;
  --nav-bg: #292929;
  --nav-bar-txtcolor: #fff;
  --nav-item-hover: #2f907c;
  --about-bg: #2eb398;
  --form-enter-txt-bg: #454545;
  --form-bg: #323232;
  --btn-send-bg: #2eb398;
  --about_sec_header: #20816d;
  --footer_text: #454545;
}